@using MockSchoolManagement.Areas.Business.Models
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>学生详情页面</title>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css">
    <script src="~/lib/layui/layui.js"></script>
</head>
<body>
    <center><h1>@ViewBag.PageTitle</h1></center>
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>Id</th>
                <th>名字</th>
                <th>主修科目</th>
                <th>邮箱</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.Student.Id</td>
                <td>@ViewBag.Student.Name</td>
                <td>@ViewBag.Student.Major</td>
                <td>@ViewBag.Student.Email</td>
            </tr>
        </tbody>
    </table>
</body>
</html>